[*]
insert_final_newline = true

[*.cs]

# CS3021: Type or member does not need a CLSCompliant attribute because the assembly does not have a CLSCompliant attribute
dotnet_diagnostic.CS3021.severity = none

# S2699: Tests should include assertions
dotnet_diagnostic.S2699.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# S1116: Empty statements should be removed
dotnet_diagnostic.S1116.severity = none

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = none


dotnet_diagnostic.S125.severity = none
dotnet_diagnostic.IDE0055.severity = none
# due a lot of acronyms
dotnet_diagnostic.S101.severity = none
dotnet_diagnostic.S1134.severity = refactoring

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none

# S1135: Track uses of "TODO" tags
dotnet_diagnostic.S1135.severity = none

indent_size = 4
indent_style = space

#### Naming styles ####

dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private

dotnet_naming_rule.private_or_internal_field_should_be_underscored_camelcase.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be_underscored_camelcase.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_underscored_camelcase.style = pascal_case

